{% extends "base.html" %}

{% block content %}
<div class="seizure"></div>
<div class="row col-md-12" id="about">
    <h2 class="subtitle">What is this?</h2>
    <p>a lighted lamp is a relatively pointless website. It's a catch-all for my trek through learning how to build things with computers. Feel free to sign in and leave a note for all to see. Just don't like, abuse it, because that's no fun at all for anyone really ever, okay?</p>
    <h2 class="subtitle">Who am I?</h2>
    <p>My name is Philip. I work for a cool company called Cratejoy, who builds stuff for subscription-box-business-owners, which is like a revival of the CD clubs of the 90s that everyone eventually realized was just kind of a scam, in the way that you would get stuff every month but not necessarily the stuff you really wanted. We're all hoping this time we've done it right though, and found a way to make the niche-lovers lover their niche even more.</p>
    <p>Anyway, I'm an artist, trained as a traditional painter, and that's primarily how I identify myself. You can see for yourself in the below links how I spend my time not doing stuff on computers. I also make electronic music under the guise of PBS, not to be mistaken with the nonprofit media conglomerate.</p>
    <h2 class="subtitle">Social:</h2>
    <ul>
        <li><a href="http://philipharrell.com" target="_blank">Art</a></li>
        <li><a href="http://instagram.com/philipharrell" target="_blank">Instagram</a></li>
        <li><a href="http://no-thanks.tumblr.com" target="_blank">Tumblr</a></li>
        <li><a href="http://soundcloud.com/p_harrell" target="_blank">Soundcloud</a></li>
    </ul>
</div>
{% endblock %}

{% block footer %}

{% endblock %}