{% extends "base.html" %}

{% block content %}
    <h2>What is this?</h2>
    <p>a lighted lamp is a relatively pointless website. It's a catch-all for my trek through learning how to build things with computers. Feel free to sign in and leave a note for all to see. Just don't like, abuse it, because that's no fun at all for anyone really ever, okay?</p>
    <h2>Social:</h2>
    <ul>
        <li><a href="http://philipharrell.com">Art</a></li>
        <li><a href="http://instagram.com/philipharrell">Instagram</a></li>
        <li><a href="http://no-thanks.tumblr.com">Tumblr</a></li>
        <li><a href="http://soundcloud.com/pbs_">Soundcloud</a></li>
    </ul>
{% endblock %}