<html>
	<head>
		{% if title %}
		<title>{{ title }} - a lighted lamp</title>
		{% else %}
		<title>a lighted lamp</title>
		{% endif %}
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/styles.css" rel="stylesheet" media="screen">
		<link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    	<script src="https://code.jquery.com/jquery-latest.js"></script>
    	<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/moment.js"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="page-wrap">
			<nav class="navbar">
				<div class="container-fluid">
				<!--<h1 class="title"><a href="/">a lighted lamp</a></h1>-->
				  <!-- <div class="navbar-header">
					  <a class="navbar-brand" href="/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
				  </div> -->
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
						</li>
						<li>
							<a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> About</a>
						</li>
						<li>
							<a href="{{ url_for('projects') }}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Projects</a>
						</li>
						{% if g.user.is_authenticated %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ g.user.nickname }}<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ url_for('user', nickname=g.user.nickname) }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a>
									</li>
									<li>
										<a href="{{ url_for('new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New post</a>
									</li>
									<li>
										<a class="nav-item" href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Logout</a>
									</li>
								</ul>
							</li>
						{% else %}
							<li>
								<a class="nav-item" href="{{ auth_url }}">Login With Google</a>
							</li>
						{% endif %}
					</ul>
				  </div>
			  	</div>
			</nav>
			<div class="container content">
				<header>
					<h1 class="title"><a href="/">a lighted lamp</a></h1>
					<!-- <h2 class="subtitle"><i>a pointless blog</i></h2> -->
				</header>
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert {{ category }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
			<div id="main" class="container content">
			{% block content %}
			{% endblock %}
			</div>
		</div>
	</body>
	<footer class="site-footer">
		<span class="sm-icon"><a href="http://instagram.com/philipharrell" target="_blank"><img src="/static/img/ico-insta.png"/></a></span>
		<!--<span class="sm-icon"><a href="http://no-thanks.tumblr.com" target="_blank"><img src="/static/img/ico-tumb.png"/></a></span>-->
		<span class="sm-icon"><a href="https://www.linkedin.com/in/philipharrell" target="_blank"><img src="/static/img/ico-linked.png"/></a></span>
	</footer>
</html>