<div class="post">
    {% if g.user.nickname != post.author.nickname %}
    <div class="col-md-1 col-sm-1 avatar">
        {# avatar_none is not working #}
        <img class="img-responsive" src="{% if post.author.avatar %}{{ post.author.avatar }}{% else %}g.user.avatar_none(50){% endif %}">
    </div>
    {% endif %}
    <div class="col-md-11 col-sm-11">
        <h3>{{ post.title }}</h3>
        {% if g.user.nickname == post.author.nickname %}
        {% else %}
        <h4><a href="{{ url_for('user', nickname=post.author.nickname)}}">{{ post.author.nickname }}</a></h4>
        {% endif %}
        <p>{{ momentjs(post.timestamp).fromNow() }}</p>
        <p>{{ post.body }}</p>
    </div>
</div>